// Body
$body-bg: #f8fafc;

// Typography and size
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$--font-size-xs: 15px;
$--font-size-xxs: 14px;
$--font-size-xxxs: 13px;


// Colors
$--white: rgba(255,255,255,1.0);
$--puerto-rico: rgba(49,187,172,1.0);
$--red-fine: rgba(238,64,80,1.0);
$--black: rgba(0,0,0,1.0);
$--quick-silver: rgba(166,166,166,1.0);
$--eerie-black: rgba(28,28,28,1.0);
$--iceberg: rgba(214,241,238,1.0);
$--mercury: rgba(224,229,227,1.0);
$--log-cabin: rgba(35,31,32,1.0);
$--black-haze: rgba(244,247,246,1.0);
$--silver: rgba(183,192,189,1.0);


