.banner-join-us.join-us-page{
    background: none !important;
    background-color: $--puerto-rico !important;

    .two-box-full {
        max-width: 100%;

        .left-block {
            background-color: $--white;
            width: 38%;
            padding: 0px;
            position: relative;

            //centering img - apliied only for > 1300px
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-right: -50%;
            }
        }

        .right-block {
            width: 62%;

            .title {
                color: $--white;
                font-size: 58px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 12.00px;
                line-height: 65px;
                text-transform: uppercase;
            }

            .social.share {

                font-weight: 600;
                letter-spacing: 5.91px;
                line-height: 14px;
                text-transform: uppercase;
                text-align: left;
                font-size: 11px;
                font-style: normal;
                margin-top: 40px;

                span.share-title{
                    margin-left: 90px;
                    margin-right: 10px;
                }

                span.linha-titulo:before {
                    content: " ";
                    position: absolute;
                    border-left: 70px solid $--eerie-black;
                    height: 2px;
                    margin-top: 6px;
                }
            }
        }
    }

    .resume-description {
        width: calc(100% - 90px);
        z-index: 1000;
        position: relative;
        background-color: white;
        box-shadow: 1px 0px 40px rgb(0 0 0 / 8%);
        padding-top: 125px;
        padding-bottom: 140px;

        .full-text {
            max-width: 940px;
            margin-left: auto;
            margin-right: auto;

            .title {
                color: $--log-cabin;
                font-size: 34px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0.00px;
                line-height: 45px;
            }

            .description p {
                color: $--eerie-black;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 0.00px;
                line-height: 33px;
                margin: 28px 0 0 0;
            }
        }
    }
}

.banner-join-us.join-us-page.background-none{
    background-color: $--black-haze !important;

    .two-box-full .right-block .title {
        color: $--log-cabin;
    }

    .resume-description{
        margin-bottom: 265px;

        img{
            position: absolute;
            bottom: 0px;
            z-index: -1;
        }
    }
}
